*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.bg-img{
    background: url('../img/loginpage2.jpg');
    height:100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-img:after{
    position: absolute;
    content:'';
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.026);
    z-index: 1;
}

.content{
    position: absolute;
    top: 400px;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 999;
    width: 370px;
    
    text-align: center;
    padding: 60px 32px;
    background:rgba(79, 53, 17, 0.418);
    box-shadow: -1px 4px 28px 0px rgb(242, 197, 169);
    color: white;
    border-radius: 50px;
}



.contentsignup{
    position: absolute;
    top: 370px;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 999;
    width: 500px;
    text-align: center;
    padding: 60px 32px;
    background:rgba(79, 53, 17, 0.418);
    box-shadow: -1px 4px 28px 0px rgb(242, 197, 169);
    color: white;
    border-radius: 50px;
}


.contentsignup .link h6{
    text-align: center;
    color:white;
   
    
}

.content header{
    color:white;
    font-size: 33px;
    font-weight: 600;
    margin:0 0 35px 0;
    font-family: 'Montserrat' ,sans-serif;
}

.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.827);
    text-align: center;
    border-radius: 10px;
}

.field span{

    width: 40px;
    line-height: 45px;

}

.field input{
    height:100%;
    width:100%;
    background: transparent;
    border: none;
    outline:none ;
    color:#333;
    font-size: 16px;
    font-family:sans-serif;
}

.remember{
    text-align:left;
}
.space{
    margin-top: 16px;
}

.pass{
    text-align: right;
    margin: 10px 0;

}


.pass a{
    color: white;
    font-family: sans-serif;
    text-decoration:none ;
}
.signup{
    text-align: center;
    margin: 10px 0;

}


.signup a{
    color: white;
    font-family: sans-serif;
    text-decoration:none ;
}

.pass:hover a{
    text-decoration: underline;
}


.submit{
    background: #dea180;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.submit:hover{
    background: #a1572d;
}
 
.signup{
    color: white;
    margin:20px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.link{
    display: flex;
    cursor:pointer;
    color: white;
    margin:0 0 20px 0 ;
    letter-spacing: 1px;
    cursor: pointer;
    
}

.facebook, .instagram, .twitter{
    width:100%;
    height:45px;
    line-height: 45px;
    margin-top: 10px;
    margin-left: 10px;
}

.instagram{
    background:black;
    border-radius: 10px;
   
}

.facebook{
    background:black;
    margin-left: 0px;
    border-radius: 10px;
    
}

.twitter{
    background:black;
    margin-right: 0px;
    border-radius: 10px;
}
.facebook:hover{
    background: #656464;
}
.instagram:hover{
    background: #656464;
}
.twitter:hover{
    background: #656464;
}

/*navbar*/
nav{
    background: #4A4947;
    padding: 3px 50px;
    display: flex;
    align-items: center;
    
}
nav a{
    color: #fff;
   
}
nav a:hover{
    color:#dea180;
}

.logo{
    flex:1;
}
.logo a{
    display: flex;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    
}
.logo a:hover{
    color:#dea180;

}
.logo img{
    width:120px;
    margin-right: 50px;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    padding: 15px 10px;
    font-size: 16px;
    
}
.menu li a{
    text-decoration: none;
}

 /*footer*/
 footer{
    background-color: #4A4947;
}
.footerContainer{
    width: 100%;
    padding: 10px 20px 10px ;
    
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  5px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerBottom{
    background-color: #000;
    padding: 10px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
/*contac us page*/
.contactus{
    background:url("../img/signup.jpg");
    position:relative;
    width:100%;
    padding: 40px 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contactus .title{
    display :flex;
    justify-content:center;
    align-items: center;
    font-size: 2em;
}

.contactus .title h2{
    color:white;
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap:20px;
    margin-top: 20px;
}
.form{
    grid-area: form;
}
.info{
    grid-area: info;
}
.contact{
    padding:40px;
    background: rgba(208, 206, 206, 0.737);
    opacity: 70px;
    box-shadow: 0 5px 35px rgba(0,0,0,0.5);
}
.map{
    grid-area: map;
}
/* contact us form*/
.formBox{
    position: relative;
    width:100%;

}

.formBox .row50{
    display:flex;
    gap:20px;
}

.inputBox{
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;

}

.formBox .row100 .inputBox{
    width: 100%;

}

.inputBox span{
    color: #333;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline:none;
    border: 1px #333;
    
}

.inputBox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline:none;
    border: 1px #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox input[type="submit"]{
    background: #a1572d;
    color:#fff;
    border-color: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor:pointer;
    padding: 14px 15px;

}
.inputBox input[type="submit"]:hover{
    background-color: #656464;
}
/*info box*/

.info{
    background:#908d8d95;
}
.info h3{
    color:#fff;

}
.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info .infoBox p{
    color: #fff;
    font-size: 1.1em;
}
.info .infoBox div span{
    min-width: 40px;
    height:40px;
    color:#fff;
    justify-content: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
.info .infoBox a{
    color: #fff;
    text-decoration: none;
}
.sci{
    margin-top: 40px;
    display: flex;
}
.sci li{
    list-style: none;
    margin-right: 15px;
}
.sci li a{
    color:#fff;
    font-size: 2em;
    color: #cdcbcb;
}

.sci li a:hover{
    color: #c3bbbb;
}

.map{
    padding: 0;
}
.map iframe{
    width: 100%;
    height: 100%;
}

/* user profile css*/



/*user profile*/
.contentedit{
    position: absolute;
    top: 450px;
    left:70%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 999;
    width: 500px;
    text-align: center;
    padding: 60px 32px;
    background:rgba(79, 53, 17, 0.418);
    box-shadow: -1px 4px 28px 0px rgb(242, 197, 169);
    color: white;
    border-radius: 50px;
}
.contentuser{
    position: absolute;
    top: 450px;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 999;
    width: 370px;
    padding: 60px 32px;
    background:rgba(79, 53, 17, 0.418);
    box-shadow: -1px 4px 28px 0px rgb(242, 197, 169);
    color: white;
    border-radius: 50px;
}

.account-info-section{
    text-align: center;
}




.read{
    text-align: left;
    font-size: 20px;
}
/*button*/
/*
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color:white;


}

*/
/*.button{
    background: #dea180;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
*/
.delete:hover{
    background: #dea180;
}

.delete{
    background: #a1572d;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    
    height:100%;
    width:100%;
    /*width: 100px;
    line-height: 30px;*/
    
   
    border: none;
    outline:none ;
    margin-top: 16px;
    font-size: 16px;
    font-family:sans-serif;

    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: block;
    
    box-sizing: border-box;
    font-size: 18px;
}
 

