*{
    margin: 0px;
    padding: px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
    
nav{
    background: #4A4947;
    padding: 3px 50px;
    display: flex;
    align-items: center;
    
}
nav a{
    color: #fff;
   
}
nav a:hover{
    color:#dea180;
}

.logo{
    flex:1;
}
.logo a{
    display: flex;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    
}
.logo a:hover{
    color:#dea180;

}
.logo img{
    width:120px;
    margin-right: 50px;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    padding: 15px 10px;
    font-size: 16px;
    
}
.menu li a{
    text-decoration: none;
}
body{
    background-color: #a9b683;
}

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20 px auto;
}

.heading h1{
    font-size: 55px;
    color: #000;
    margin-bottom: 10px;
    margin-top: 20px;
    position: relative;

}
.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
    margin-bottom: 20px;
   
}

.image-container {
    overflow: hidden;
    width: 300px; 
    height: 200px;

}

.about-image{
    max-width: 100%;
    height: 500px;
    display: block;
    transition: 0.5s ease;
    border-radius: 10px;
}
  

.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color:#1a1a14;
    color: #ffffff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
    
}
.about-content .read-more:hover{
    background-color: #7a8332;
}
/*footer*/
 footer{
    background-color: #4A4947;
}
.footerContainer{
    width: 100%;
    padding: 10px 20px 10px ;
    
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  5px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerBottom{
    background-color: #000;
    padding: 10px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

