@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    margin: 0;
    font-family: 'spartan', sans-serif;
    background-color: #FAF7F0; 
}


nav{
    background: #4A4947;
    padding: 3px 50px;
    display: flex;
    align-items: center;
    
}
nav a{
    color: #fff;
   
}
nav a:hover{
    color:#dea180;
}

.logo{
    flex:1;
}
.logo a{
    display: flex;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    
}
.logo a:hover{
    color:#dea180;

}
.logo img{
    width:120px;
    margin-right: 50px;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    padding: 15px 10px;
    font-size: 16px;
    
}
.menu li a{
    text-decoration:none;
}




h1{
    font-size: 80px;
}


.container{
    display: flex;
    width: 90%;
    height: 700px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; 
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}


.container_text{
    margin: auto;
    margin-left: 20px;
    color:white;
    font-family: 'dancing Script';
    

}

.hotel_selector{
    margin: auto;
    width: 85%;
    height: 140px;
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    background-color: #D8D2C2;

   
}

.login_banner{

    margin: 20px 20px 20px 70px;
    height: 100px;
    width: 500px;
    float: left;
    border-radius: 20px;
    background-color: black;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    color: whitesmoke; 
    text-decoration: none; 
    font-family: 'dancing Script';
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.signup_banner{

    margin: 20px 70px 20px 20px;
    height: 100px;
    width: 500px;
    float: right;
    border-radius: 20px;
    background-color: black;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    color: white; 
    text-decoration: none; 
    font-family: 'dancing Script';
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;


}


.hotel_list{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 100px 100px;


}

.hotel{
    position: relative;
    width: 320px;
    height: 256px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 30px #0000001a;

}



.white_space{
    position: absolute;
    width: 320px;
    height: 60px;
    margin-top: 65%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    background-color: #D8D2C2;

}

.white_space_content{
    margin: 15px 10px;
    display: flex;
    justify-content: space-between;

}















footer{
    background-color: #4A4947;
}
.footerContainer{
    width: 100%;
    padding: 10px 20px 10px ;
    
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  5px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerBottom{
    background-color: #000;
    padding: 10px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
