* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    margin: 0;
    font-family: 'spartan', sans-serif;
    background-color: #FAF7F0;  
    background-image: url(img/background.jpg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}









nav{
    background: #4A4947;
    padding: 3px 50px;
    display: flex;
    align-items: center;
    
}
nav a{
    color: #fff;
   
}
nav a:hover{
    color:#dea180;
}

.logo{
    flex:1;
}
.logo a{
    display: flex;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    
}
.logo a:hover{
    color:#dea180;

}
.logo img{
    width:120px;
    margin-right: 50px;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    padding: 15px 10px;
    font-size: 16px;
    
}
.menu li a{
    text-decoration: none;
}















 .feedback_form{
    background-color: #FAF7F0;
    margin: 100px auto;
    width: 60%;
    height: 500px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    opacity: 0.85;
    margin-bottom: 20px;
 }

 .content{
    background-color: #FAF7F0;
    margin: 100px auto;
    width: 70%;
    height: 320px;
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);

 }

 .box{
    background-color: #FAF7F0;
    margin:20px;
    border-radius: 20px;

 }

 .info{
    border-radius: 10px; 
    border: 2px solid #ccc; 
    padding: 10px; 
    width: 100%; 
    box-sizing: border-box; 
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
 }


 .submit_button{
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border-color: white;
    background-color: black;
    color: white;
    transition: all 0.3s ease;
    font-size: 20px;
 }


.submit_button:hover {
        background-color: white; 
        color: black; 
}

.edit_delete_button{
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border-color: white;
    background-color: black;
    color: white;
    transition: all 0.3s ease;
    font-size: 20px;
}



 
 .feedbacks{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
   



 }














footer{
    background-color: #4A4947;
    margin-left: -300px;
    margin-right: -300px;
    
}
.footerContainer{
    width: 100%;
    padding: 10px 20px 10px ;
    
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  5px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerBottom{
    background-color: #000;
    padding: 10px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
